In [4]:
import pandas as pd
from IPython.display import display

In [27]:
train_labels_path = 'nd013_pred_data/train_labels.txt'
train_states_path = 'nd013_pred_data/train_states.txt'

test_labels_path = 'nd013_pred_data/test_labels.txt'
test_states_path = 'nd013_pred_data/test_states.txt'

state_names = ['s', 'd', 's_dot', 'd_dot']
label_names = ['movement']

train_labels = pd.read_csv(train_labels_path, names=label_names)
train_states = pd.read_csv(train_states_path, names=state_names)

test_labels = pd.read_csv(test_labels_path, names=label_names)
test_states = pd.read_csv(test_states_path, names=state_names)

display(train_labels.head(), test_labels.head())
display(train_states.head(), test_states.head())

  movement
0     left
1    right
2     left
3     keep
4     left

  movement
0    right
1     keep
2     left
3     left
4     keep

           s         d      s_dot     d_dot
0  34.768073  0.832914   8.206639 -0.998961
1  39.708476  7.605498   8.159741  0.401671
2  29.854942  1.206174  11.047058 -1.474807
3  35.548520  0.496134   9.455973 -0.105635
4   9.096435  8.277402   8.785134 -0.588014

           s         d      s_dot     d_dot
0  21.274186  1.282170  10.513371  1.203883
1  30.426814  7.908537  10.572812 -0.042144
2  29.861907  1.369480  10.551401 -1.434519
3  23.907259  5.676190   9.481879 -1.503710
4  19.642848  0.111523  10.729534 -0.046826

In [28]:
from sklearn.naive_bayes import GaussianNB

In [29]:
clf = GaussianNB()
clf.fit(train_states.as_matrix(), train_labels.as_matrix().ravel())

# Test data score
clf.score(test_states.as_matrix(), test_labels.as_matrix().ravel())

0.84399999999999997